<div class="container">

    <div class="flex column">
      
      <h1 class="title">Welcome {{userName}}</h1>
  
      <ul class="rooms-container">       
        <div class="room-item">
          <p class="room-name">Room Name</p>
          <p class="room-users">Users</p>
          <p class="room-delete">Del</p>
        </div>
        <div *ngFor="let room of rooms">
          <div class="room-item">
            <a class="room-name" [routerLink]="['/room', room.name]">{{room.name}}</a>
            <a class="room-users" [routerLink]="['/room', room.name]">{{room.users.length}}</a>
            <button (click)="onDeleteRoom(room.name)" [disabled]="notEmpty(room)" type="button" id="delete-button">X</button>
          </div>
        </div>
      </ul>
      
      <div class="row create-room">
        <input type="text" autocomplete="off" placeholder="Room name..." id="room-input" [(ngModel)]="roomName">
        <button (click)="onCreateRoom(roomName)" type="button" id="room-button">Create Room</button>
      </div>
  
    </div>
</div>
