<div class="container">

    <div class="flex column">

        <h1 class="title">Joined Room {{roomName}} as {{userName}}</h1>

        <div class="messages-container">            
            <div class="messages" *ngFor="let message of messages">
                <p class="text">{{message.sentBy}}: {{message.text}}</p>
                <p class="date">{{message.createdAt | date: 'short' }}</p>
            </div>
        </div>

        <div class="row send-message">
            <input type="text" autocomplete="off" placeholder="Message..." id="message-input" [(ngModel)]="message">
            <button (click)="onSendMessage(message)" type="button" id="message-button">Send</button>
        </div>

        <a routerLink="/rooms" (click)="leaveRoom()" routerLinkActive="active" ariaCurrentWhenActive="page">Return to Lobby</a>

    </div>
    
</div>
